header {
    height: 80px;
    display: flex;
    padding: 20px 80px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 20, 19, 0.788);
    .logo {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: rgb(98, 236, 213);
        font-family: Arial, Helvetica, sans-serif;
    }
    .nav-content{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            li{
                margin-right: 10px;
            }
        }
        a,button {
            color: rgb(98, 236, 213);
            text-decoration: none;
            text-transform: lowercase;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            border: none;
            background-color: transparent;
        }
    }
}
