@import 'reset';
@import 'header';
@import 'footer';


body {
    background-color: #ebfbff;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: red;
    font-size: 30px;
}


.container {
    min-height: 70vh;
    padding: 20px 80px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    width: 400px !important;
    width: 300px;
    height: 30px;
    display: flex;
    font-size: 20px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(5, 87, 102, 0.13);
    }

    button {
        background-color: red;
        color: white;
        padding: 5px;
        text-transform: lowercase;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        font-size: 18px;
        width: 22%;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 320px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        border: none;
        outline: none;
        background-color: rgb(212, 246, 255);
    }

    textarea {
        height: 100px;
    }

    button {
        background-color: rgb(82, 199, 179);
        width: 340px;
        height: 50px;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        color: white;
        cursor: pointer;

    }
}



.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    input {
        width: 400px;
        font-size: 18px;
        height: 40px;
        border-radius: 4px;
        padding: 15px;
        border: none;
        margin-bottom: 15px;
        background-color: transparent;
    }
    span{
        width: 40%;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        width: 430px;
        height: 60px;
        font-size:20px;
        padding: 15px;
        background-color: rgb(82, 199, 179);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        transition: all .2s;

        &:hover {
            background-color: red;
            border: none;
        }
    }
}

.errorMes {
    color: red;
    font-size: 18px;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
}